* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 1345px;
}

.commodity-context {
    height: 525px;
}

.commodity-details {
    width: 1150px;
    height: 100px;
    margin: 0px auto;
    padding: 15px;
    border-bottom: 2px solid #e6eaed;
    font-family: "KaiTi";
}
.commodity-details:hover {
    cursor: pointer;
    background: #EAEAEA;
}

.commodity-picture {
    float: left;
    width: 120px;
    height: 100px;
}
.commodity-picture-context {
    width: 120px;
    height: 100px;
}

.commodity-word {
    float: left;
    margin-left: 20px;
    width: 350px;
}

.commodity-word-context {
    font-size: 20px;
}

.commodity-word-context, .commodity-price-context {
    padding: 4px;
}

.commodity-time-context {
    padding: 4px;
    margin-top: 20px;
}

.whether {
    float: right;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.already-sell, .already-down {
    color: red;
}

