* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 1345px;
}
.thing-details {
    position: relative;
    float: left;
    height: 980px;
    width: 930px;
}

.thing-details-main {
    position: relative;
    margin: 20px;
    height: 550px;
    width: 880px;
    border-radius: 15px;
    background: #E5E5E5;
}

.thing-details-picture {
    position: absolute;
    margin: 20px;
    height: 500px;
    width: 420px;
}
.picture-context {
    height: 500px;
    width: 530px;
}

.thing-details-context {
    position: relative;
    margin: 20px;
    padding: 10px;
    height: 480px;
    width: 270px;
    float: right;
}
.word-context {
    position: relative;
    height: 52px;
    line-height: 52px;
    width: 100%;
}

.word-style {
    font-size: 20px;
}

.word-style-introduction {
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thing-details-btn {
    position: relative;
    margin: 20px;
    height: 63px;
    width: 880px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

.btnthing, .sendmes {
    background-color: #8B8682;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.colnum {
    margin-left: 4px;
}

.btnthing:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sendmes:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.send-message {
    position: absolute;
    margin-left:20px;
    height: 250px;
    width: 880px;
}
.message-now {
    box-sizing: border-box;
    width: 880px;
    height: 180px;
    padding: 0;
}

.message {
    display: inline-block;
    margin: 20px;
    width: 370px;
    height: 880px;
}

.message-title {
    margin-left: 10px;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.no-message {
    font-size:40px;
    color:dimgray;
}
.message-context {
    margin: 20px;
    width: 340px;
    height: 880px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-information {
    width: 330px;
    height: 110px;
    margin: 5px auto;
    background: #E5E5E5;
    padding-left: 20px;
    padding-top: 5px;
}
.person-information {
    margin-right: 5px;
}

.message-word {
    margin-top: 20px;
}

.person-information-phone {
    margin-left: 10px;
}

.commodity-introduction {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    height: 240px;
    width: 95%;
    border-top: 1px solid #5f5e5e;
    padding-top: 2px;
}

.goodcommodity {
    padding: 11px;
    width:160px;
    float:left;
}

.goodcommoditypicture {
    height: 170px;
    width: 170px;
}
.goodcommoditypicture:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.goodcommodity-introduction {
    position: relative;
    line-height: 26px;
    padding-top: 5px;
    color: #515151;
    font-size: 12px;
    max-height: 84px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

