@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="~/Content/MyCSS/regView.css" />
    <script src="~/Scripts/MyJavaScripts/jquery.min.js"></script>
</head>
<body>
    <div class="limter">
        <div class="large-header">
            <div class="logo_box">
                <h3>欢迎你</h3>
                <div class="input_outer">
                    <span id="picture_username" class="picture_position"></span>
                    <input id="username" class="text" type="text" placeholder="请输入账户">
                </div>
                <div class="input_outer">
                    <span id="picture_sex" class="picture_position"></span>
                    <select id="sex" class="text">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="input_outer">
                    <span id="picture_phone" class="picture_position"></span>
                    <input id="phone" class="text" type="text" placeholder="请输入联系电话">
                </div>
                <div class="input_outer">
                    <span id="picture_idcard" class="picture_position"></span>
                    <input id="idcard" class="text" type="text" placeholder="请输入身份证号码">
                </div>
                <div class="input_outer">
                    <span id="picture_email" class="picture_position"></span>
                    <input id="email" class="text" type="text" placeholder="请输入邮箱">
                </div>
                <div class="input_outer">
                    <span id="picture_address" class="picture_position"></span>
                    <input id="address" class="text" type="text" placeholder="请输入住址">
                </div>
                <div class="input_outer">
                    <span id="picture_school" class="picture_position"></span>
                    <input id="school" class="text" type="text" placeholder="请输入所在学校">
                </div>
                <div class="input_outer">
                    <span id="picture_passid" class="picture_position"></span>
                    <input id="passid" class="text" type="text" placeholder="请输入账号">
                </div>
                <div class="input_outer">
                    <span id="picture_password" class="picture_position"></span>
                    <input id="password" class="text" type="password" placeholder="请输入密码">
                </div>
                <div class="input_outer">
                    <span id="picture_password" class="picture_position"></span>
                    <input id="password_twice" class="text" type="password" placeholder="请再次输入密码">
                </div>
                <button id="btnreg" class="act-but">注册</button>
                <p id="message"></p>
                <p class="gotologin">手滑点进来了？<a class="login" href="~/Login/Login">前往登录</a></p>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/MyJavaScripts/register.js"></script>
</body>
</html>