<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/Content/MyCSS/navigationbarview.css">
    <script src="~/Scripts/MyJavaScripts/jquery.min.js"></script>
</head>
<body>
    <div class="index-nav">
        <div class="index-nav-frame">
            <div class="index-nav-frame-line">
                <img class="shoplogo" src="~/images/shoplogo.png" />
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Home/Main">首页</a>
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Thing/ThingMain?rescategory=电器">电器</a>
                <div class="index-nav-frame-line-center">
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=电磁炉">电磁炉</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=电热水壶">电热水壶</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=小电锅">小电锅</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=小冰箱">小冰箱</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=小洗衣机">小洗衣机</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=其他">其他</a>
                    </div>
                </div>
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Thing/ThingMain?rescategory=数码">数码</a>
                <div class="index-nav-frame-line-center">
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=手机">手机</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=平板">平板</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=电脑">电脑</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=相机">相机</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=配件">配件</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=其他">其他</a>
                    </div>
                </div>
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Thing/ThingMain?rescategory=日用">日用</a>
                <div class="index-nav-frame-line-center">

                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=洗发液">洗发液</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=洗衣液">洗衣液</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=沐浴露">沐浴露</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=热水壶">热水壶</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=化妆品">化妆品</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=其他">其他</a>
                    </div>
                </div>
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Thing/ThingMain?rescategory=体育">体育</a>
                <div class="index-nav-frame-line-center">

                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=篮球">篮球</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=足球">足球</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=球衣">球衣</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=鞋子">鞋子</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=其他">其他</a>
                    </div>
                </div>
            </div>
            <div class="index-nav-frame-line">
                <a class="a-index-nav-frame-line" href="~/Thing/ThingMain?rescategory=衣物">衣物</a>
                <div class="index-nav-frame-line-center">

                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=短袖">短袖</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=长袖">长袖</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=衬衫">衬衫</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=毛衣">毛衣</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=裤子">裤子</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=棉袄">棉袄</a>
                    </div>
                    <div class="index-nav-frame-line-li">
                        <a class="a-index-nav-frame-line-li" href="~/Thing/ThingMain?rescategory=其他">其他</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-bar">
            <div class="search">
                <select class="forwhat" id="forwhat">
                    <option value="物品">物品</option>
                    <option value="学校">学校</option>
                </select>
                <input class="search-input" id="search_input" type="text" placeholder="请输入您要搜索的内容...">
                <button class="search-button" id="btnsearch">搜索</button>
            </div>
        </div>

        @if (Request.Cookies["cookieusername"] == null)
        {
            <div class="log-register">
                <div class="length">|</div>
                <a class="login" href="~/Login/Login"> 登录</a>
                <a class="register" href="~/Register/Register">注册</a>
            </div>
        }
        @if (Request.Cookies["cookieusername"] != null)
        {
            <div class="welcome-student">
                <div class="length">|</div>
                <div class="welcome-word">欢迎</div>
                <div class="index-nav-frame-line">
                    <p class="a-index-nav-frame-line">@Request.Cookies["cookieusername"].Value</p>
                    <div class="index-nav-frame-line-center">
                        <div class="index-nav-frame-line-li">
                            <a class="a-index-nav-frame-line-li" href="~/Student/StudentInformation">个人信息</a>
                        </div>
                        <div class="index-nav-frame-line-li">
                            <a class="a-index-nav-frame-line-li" href="~/Thing/OwnerCommodity">个人商品</a>
                        </div>
                        <div class="index-nav-frame-line-li">
                            <a class="a-index-nav-frame-line-li" href="~/Thing/AddNewThing">出售商品</a>
                        </div>
                        <div class="index-nav-frame-line-li">
                            <a class="a-index-nav-frame-line-li" href="~/Order/OrderInformation">个人订单</a>
                        </div>
                        <div class="index-nav-frame-line-li">
                            <a class="a-index-nav-frame-line-li" href="~/Collection/CollectionInformation">个人收藏</a>
                        </div>
                    </div>
                </div>

                <button class="logout" href="">退出</button>
            </div>
        }
    </div>

    <section id="main">
        @RenderBody()
    </section>

    <div class="bottom-context">
        <div class="bottom-word">
            <p class="sponsor-context">
                <span class="sponsor-sch">校园淘</span>
            </p>
            <p class="sponsor-context">
                <span class="sponsor">我们旨在设计出最美好的页面供用户使用，使用户找到合适的商品。</span>
            </p>
            <p class="sponsor-context">
                <a class="sponsor" href="~/WebBrief/WebBrief">关于我们</a>
                <span class="sponsor">|</span>
                <a class="sponsor" href="~/Home/Main">网站首页</a>
                <span class="sponsor">|</span>
                <a class="sponsor" href="~/Thing/ThingMain?rescategory=电器">商品浏览</a>
                <span class="sponsor">|</span>
                <a class="sponsor" href="~/Admin/AdminLogin">前往后台</a>
            </p>

            <p class="sponsor-context">
                <span class="sponsor">赞助商</span>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E8%8E%BC%E6%B9%96%E9%95%87/4266417?fr=aladdin">莼湖苞米地</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="http://www.zgsxzs.com/a/20180904/6057549.html">奉化灯光球场</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%A5%89%E5%8C%96%E9%AB%98%E7%BA%A7%E4%B8%AD%E5%AD%A6/1267218?fr=aladdin">奉化高级中学</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%AE%81%E6%B3%A2%E5%B8%82%E5%A5%89%E5%8C%96%E4%B8%AD%E5%AD%A6/9854166?fr=aladdin">奉化一中</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%A5%89%E5%8C%96%E6%AD%A6%E5%B2%AD%E4%B8%AD%E5%AD%A6/3545119?fr=aladdin">武岭中学</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%AE%81%E6%B3%A2%E5%A4%A7%E5%AD%A6/330179?fr=aladdin">宁波大学</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%AE%81%E6%B3%A2%E5%A4%A7%E5%AD%A6%E7%A7%91%E5%AD%A6%E6%8A%80%E6%9C%AF%E5%AD%A6%E9%99%A2">宁波大学科学技术学院</a>
                <span class="sponsor">|</span>
                <a class="sponsor" target="_blank" href="https://baike.baidu.com/item/%E5%AE%81%E6%B3%A2%E8%B4%A2%E7%BB%8F%E5%AD%A6%E9%99%A2/22353071?fr=aladdin">宁波财经学院</a>
            </p>
            <p class="sponsor-context">
                <span class="sponsor">合伙人</span>
                <span class="sponsor">|</span>
                <span class="sponsor">小红</span>
                <span class="sponsor">|</span>
                <span class="sponsor">大红</span>
                <span class="sponsor">|</span>
                <span class="sponsor">迷你红</span>
                <span class="sponsor">|</span>
                <span class="sponsor">红仔思密达</span>
                <span class="sponsor">|</span>
                <span class="sponsor">LGG</span>
                <span class="sponsor">|</span>
                <span class="sponsor">小楼</span>
            </p>

            <p class="sponsor">本站所有信息均为用户自由发布，本站不对信息的真实性负任何责任，交易时请注意识别信息的真假如有网站内容侵害了您的权益请联系我们删除，举报QQ：66666666</p>
            <p class="sponsor">Copyright © 2018-2019, LGG.com, All Rights Reserved　浙ICP备16002812号 浙公网安备 330123123123号 商务邮箱：66666666@qq.com</p>
        </div>
    </div>

    <button id="backtotop"></button>

    <script src="~/Scripts/MyJavaScripts/navigationbar_stick.js"></script>


</body>
</html>